@page
@model MyScriptureJournal.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="EntryReference" asp-items="Model.Books">
            <option value="">All</option>
        </select>
        Notes Search: <input type="text" asp-for="SearchString" />
        
        Date Added: <input type="date" asp-for="SearchDate" />
        
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].ReferenceBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
